mixin stages(data)
    .container.stages
        .stages__title.title Этапы работы
        ul.stages__list
            li.stages__item
                .stages__number 1
                .stages__content
                    .stages__item-title Консультация
                    .stages__text Обсуждаем задачи и пожелания, предлагаем варианты дизайна интерьера, оговариваем сроки.
            li.stages__item
                .stages__number 2
                .stages__content
                    .stages__item-title Техническое задание
                    .stages__text Составляем техническое задание. Заключаем договор, в котором прописываем все этапы проекта.
            li.stages__item
                .stages__number 3
                .stages__content
                    .stages__item-title Замеры и планировка
                    .stages__text Фиксируем размеры стен, окон, плинтусов, дверных проемов  для эффективной работы.
            li.stages__item
                .stages__number 4
                .stages__content
                    .stages__item-title Дизайн-концепция
                    .stages__text Создаем концепцию на основе пожеланий клиента, его образов        и ощущений.  подбираем мебель.
            li.stages__item
                .stages__number 5
                .stages__content
                    .stages__item-title 3D Визуализация
                    .stages__text Создаем 3d визуализацию, собираем пакет чертежей соответствующий строительным нормам.
            li.stages__item
                .stages__number 6
                .stages__content
                    .stages__item-title Комплектация интерьера
                    .stages__text Подбираем мебель, отделочные материалы, светильники и текстиль. Декорируем интерьер.
