@import 'blocks/main/text.styl';
@import 'blocks/main/button.styl';
@import 'blocks/main/b.styl';
@import 'blocks/main/row.styl';
@import 'blocks/main/column.styl';
@import 'blocks/main/input.styl';
@import 'blocks/main/list.styl';
// components
@import 'blocks/page-header.styl';
@import 'blocks/page-content.styl';
@import 'blocks/footer-content.styl';
@import 'blocks/about.styl';
@import 'blocks/portfolio.styl';
@import 'blocks/services.styl';
@import 'blocks/video.styl';
@import 'blocks/stages.styl';
@import 'blocks/contacts.styl';
@import 'blocks/reviews.styl';
//
@import 'blocks/main/m.styl';
@import 'blocks/main/d-block.styl';
