mixin about(data)
    .container.about-section#secondScreen
        ul.about
            li.about__item
                .about__number 01
                .about__title
                    |Берем весь ремонт
                    br
                    |на себя
                .about__text Заботы по дизайну и отделке помещения возьмем на себя, останется дождаться завершения работ и наслаждаться результатом
            li.about__item
                .about__number 02
                .about__title
                    |Мы - профессионалы
                    br
                    |своего дела
                .about__text Наши дизайнеры постоянно повышают квалификацию, посещеют курсы и тренинги, а студия уже реализовала свыше 1000 дизайн-проектов
            li.about__item
                .about__number 03
                .about__title
                    |Наши проекты
                    br
                    |индивидуальны
                .about__text Каждый, созданный студией, интерьер - индивидуальное         индивидуальное и максимально продуманное решение для каждого вида помещения
            li.about__item
                .about__number 04
                .about__title
                    |Работаем на выгодных
                    br
                    |условиях
                .about__text Ценовая политика студии очень лояльна, мы осуществляем контроль всего процесса работы и получаем результат, который делает клиентов счастливыми
