mixin reviews(data)
    .reviews
        .container.reviews__title.title Отзывы наших клиентов
        .reviews__slider
            ul.reviews__list
                li.reviews__item
                    .reviews__content
                        .reviews__name Александра Холодная1
                        .reviews__services Услуга: интерьер детской
                        .reviews__text Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели. В следующий раз обратимся к BRUME!
                    .reviews__img
                        img(src='%=static=%img/content/photo.jpg')
                li.reviews__item.reviews__item--active
                    .reviews__content
                        .reviews__name Александра Холодная2
                        .reviews__services Услуга: интерьер детской
                        .reviews__text Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели. В следующий раз обратимся к BRUME!
                    .reviews__img
                        img(src='%=static=%img/content/photo2.jpg')
                li.reviews__item
                    .reviews__content
                        .reviews__name Александра Холодная3
                        .reviews__services Услуга: интерьер детской
                        .reviews__text Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели. В следующий раз обратимся к BRUME!
                    .reviews__img
                        img(src='%=static=%img/content/photo.jpg')
                li.reviews__item
                    .reviews__content
                        .reviews__name Александра Холодная4
                        .reviews__services Услуга: интерьер детской
                        .reviews__text Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели. В следующий раз обратимся к BRUME!
                    .reviews__img
                        img(src='%=static=%img/content/photo2.jpg')
            .reviews__contrs
                .reviews__contr-item(data-index="0")
                .reviews__contr-item.reviews__contr-item--active(data-index="1")
                .reviews__contr-item(data-index="2")
                .reviews__contr-item(data-index="3")
