mixin services(data)
    .services
        .container.services__title.title Наши услуги
        .services__filter
            ul.container.services__filter-items
                li.services__filter-item  Дизайн жилого помещения
                li.services__filter-item.services__filter-item--active  Дизайн отдельных комнат
                li.services__filter-item Дизайн коммерческих обьектов
                li.services__filter-item Ремонт под ключ
                li.services__filter-item  Отделочные работы
                li.services__filter-item  Выезд дизайнера на дом
            .services__slider
                ul.services__slider-wrap
                    li.services__item
                        .services__item-img
                            img(src='%=static=%img/content/image.jpg')
                        .services__item-blocks
                            .services__item-block1
                                .services__item-title Дизайн коммерческих обьектов
                                .services__number
                                    .services__number-bold 532
                                    | проекта

                            .services__item-block2
                                .services__item-descr 1Работая с коммерческими объектами, студия изучает целевую аудиторию, создаем коммерческие интерьеры такими, чтобы посетители кафе, бара, гостиницы хотели возвращаться в интерьер снова и снова
                                .services__btn.btn.btn--border Консультация
                    li.services__item.services__item--active
                        .services__item-img
                            img(src='%=static=%img/content/image.jpg')
                        .services__item-blocks
                            .services__item-block1
                                .services__item-title Дизайн коммерческих обьектов1
                                .services__number
                                    .services__number-bold 397
                                    | проекта

                            .services__item-block2
                                .services__item-descr 2Работая с коммерческими объектами, студия изучает целевую аудиторию, создаем коммерческие интерьеры такими, чтобы посетители кафе, бара, гостиницы хотели возвращаться в интерьер снова и снова
                                .services__btn.btn.btn--border Консультация
                    li.services__item
                        .services__item-img
                            img(src='%=static=%img/content/image.jpg')
                        .services__item-blocks
                            .services__item-block1
                                .services__item-title Дизайн коммерческих обьектов2
                                .services__number
                                    .services__number-bold 468
                                    | проекта

                            .services__item-block2
                                .services__item-descr 3Работая с коммерческими объектами, студия изучает целевую аудиторию, создаем коммерческие интерьеры такими, чтобы посетители кафе, бара, гостиницы хотели возвращаться в интерьер снова и снова
                                .services__btn.btn.btn--border Консультация
                    li.services__item
                        .services__item-img
                            img(src='%=static=%img/content/image.jpg')
                        .services__item-blocks
                            .services__item-block1
                                .services__item-title Дизайн коммерческих обьектов3
                                .services__number
                                    .services__number-bold 369
                                    | проекта

                            .services__item-block2
                                .services__item-descr 4Работая с коммерческими объектами, студия изучает целевую аудиторию, создаем коммерческие интерьеры такими, чтобы посетители кафе, бара, гостиницы хотели возвращаться в интерьер снова и снова
                                .services__btn.btn.btn--border Консультация
                    li.services__item
                        .services__item-img
                            img(src='%=static=%img/content/image.jpg')
                        .services__item-blocks
                            .services__item-block1
                                .services__item-title Дизайн коммерческих обьектов4
                                .services__number
                                    .services__number-bold 512
                                    | проекта

                            .services__item-block2
                                .services__item-descr 5Работая с коммерческими объектами, студия изучает целевую аудиторию, создаем коммерческие интерьеры такими, чтобы посетители кафе, бара, гостиницы хотели возвращаться в интерьер снова и снова
                                .services__btn.btn.btn--border Консультация
                    li.services__item
                        .services__item-img
                            img(src='%=static=%img/content/image.jpg')
                        .services__item-blocks
                            .services__item-block1
                                .services__item-title Дизайн коммерческих обьектов5
                                .services__number
                                    .services__number-bold 402
                                    | проекта

                            .services__item-block2
                                .services__item-descr Работая с коммерческими объектами, студия изучает целевую аудиторию, создаем коммерческие интерьеры такими, чтобы посетители кафе, бара, гостиницы хотели возвращаться в интерьер снова и снова
                                .services__btn.btn.btn--border Консультация
